<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>


		<add name="conexao" connectionString="Data Source=18.219.17.21;Initial Catalog=nimix_logistica;Persist Security Info=True;User ID=nimix;Password=nimix03303" providerName="System.Data.SqlClient" />
		<!--
		<add name="nimix_logisticaConnectionString" connectionString="Data Source=18.219.17.21;Initial Catalog=nimix_logistica;User ID=nimix;Password=nimix03303;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="nimix_logisticaConnectionString2" connectionString="Data Source=18.219.17.21;Initial Catalog=nimix_logistica;User ID=nimix;Password=nimix03303;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 -->
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-br" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>
	<system.codedom>
		
	</system.codedom>


</configuration>